* {
	margin: 0px;
	box-sizing: border-box;
}
#todolist {
	margin: 200px auto auto auto;
	width: 300px;
	text-align: center;
}
h1 {
	margin-bottom: 20px;
}
input[type="text"] {
	margin-bottom: 20px;
}
.hover-shadow {
	transition: box-shadow  200ms cubic-bezier(0.4, 0.0, 0.2, 1);
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.16),
	0px 0px 0px 1px rgba(0,0,0,0.08);
}
.focus_shadow:focus,
.hover-shadow:hover {
	box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.2),
	0px 0px 0px 1px rgba(0,0,0,0.08);
	outline: none;
}

.maininput {
	position: relative;
	height: 30px;
	line-height: 30px;
	width: 100%;
	margin-bottom: 10px;
	border: none;
	text-align: left;
}
.maininput > input {
	height: 100%;
	width: 73.33%;
	border: none;
	padding: 0 0 0 10px;
	vertical-align: top;
}
.maininput > input:focus {
	outline: none;
}
.svgBtn {
	border: none;
	padding: 0;
	background: transparent;
	position: absolute;
	right: 10px;
	top: 2px;
	height: 26px;
	cursor: pointer;
	transition: transform 0.5s ease;
}
.svgBtn:focus,
.svgBtn:hover {
	outline: none;
	background: rgba(200,200,200,0.2);
	border-radius: 6px;
	transform: rotate(90deg);
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
}
.todoItem {
	position: relative;
	text-align: left;
	height: 50px;
	margin-bottom: 6px;
	padding-left: 10px;
	background-color: rgba(200,200,200,0.1);
}

.todoItem > input {
	height: 30px;
	width: 30px;
	margin-top: 5px;
}
.fade-enter-active {
	animation: myfade 0.5s reverse;
}
.fade-leave-active {
	animation: myfade 0.5s;
}
@keyframes myfade {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.25);
	}
	100% {
		transform: scale(0);
	}
}
.finished {
	border-radius: 6px;
	background-color: rgba(38, 169, 100, .6);
}

/*-------------checkbox flip stylesheet--------------*/
.switch {
  width: 83.33%;
  height: 40px;
  position: relative;
  top: 5px;
  display: inline-block;
  margin-left: 0px;
}
.flipper {
  position: absolute;
  left: 0px;
  bottom: 0px;
  top: 0px;
  right: 0px;
  	-webkit-transition: 0.4s;
	-webkit-transform-style: preserve-3d;

	-moz-transition: 0.4s;
	-moz-transform-style: preserve-3d;
  
  -o-transition: 0.4s;
	-o-transform-style: preserve-3d;

	transition: 0.4s;
	transform-style: preserve-3d;
}
.switch > input { display: none;}

.switch > input:checked + div.flipper {
		-webkit-transform: rotateX(180deg);
		-moz-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
		transform: rotateX(180deg);
}
.front, .back {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
  	-o-backface-visibility: hidden;
	backface-visibility: hidden;
  
  	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.back {
	-webkit-transform: rotateX(180deg);
	-moz-transform: rotateX(180deg);
  	-o-transform: rotateX(180deg);
	transform: rotateX(180deg);
 }
 .checkbox {
   border: 4px solid #aaa;
   border-radius: 12px;
   width: 40px;
   height: 40px;
   display: inline-block;
 }
 .front > p , .back > p {
 	height: 40px;
 	width: 180px;
	line-height: 40px;
	display: inline-block;
	font-size: 16px;
	vertical-align: top;
	padding-left: 10px;
}


/*--------delete button stylesheet------------*/
.xButton {
  /*display: none;*/
  display: inline-block;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
  transition: transform 0.5s ease;
  cursor: pointer;
}
.xButton:hover {
  transform: rotate(90deg);
}

.backslash, .frontslash {
  width: 100%;
  background: red;
  height: 6px;
  top: 50%;
  margin-top: -5px;
  position: absolute;
  border-radius: 2px;
  box-shadow:0px 0px 2px 1px rgba(150,150,150,.7);
  transition: box-shadow 0.9s ease;
}
.backslash {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 2;
}
.frontslash {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
} 